.container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  flex-direction: row;
}

.container > * {
  box-sizing: border-box;
}

.header {
  grid-column: 1 / 2 !important;
}

.router {
  grid-column: 2 / 3 !important;
}

.footer {
  grid-column: 3 / 4 !important;
}
