<div class="sec2">
  <div class="contRoom">
    <div class="room" id="h" translate="no">
      <div class="fi">
        <div class="pi_r face"></div>
        <div class="pi_f face"></div>
        <div class="pi_t face"></div>
      </div>
      <div class="pd">
        <div class="pd_r face"></div>
        <div class="pd_f face"></div>
        <div class="pd_t face"></div>
      </div>
      <div class="pw">
        <div class="pw_r face"></div>
        <div class="pw_f face"></div>
        <div class="pw_t face"></div>
      </div>
      <div class="mp">
        <div class="mp_r1 face"></div>
        <div class="mp_f1 face"></div>
        <div class="mp_f2 face"></div>
        <div class="mp_t face"></div>
        <div class="mp_f3 face"></div>
        <div class="mp_r2 face"></div>
      </div>
      <div class="p">
        <div class="p_r face"></div>
        <div class="p_f face"></div>
        <div class="p_t face"></div>
      </div>
      <div class="desk">
        <div class="desk_r face"></div>
        <div class="desk_f face"></div>
        <div class="desk_t face"></div>
        <div class="desk_sh face"></div>
      </div>
      <div class="tv">
        <div class="tv_r face"></div>
        <div class="tv_li face"></div>
        <div class="tv_b1 face flexbox" (click)="scaleDisplay()">Start</div>
        <div class="tv_f face"></div>
        <div class="tv_t face"></div>
        <div class="tv_sh face"></div>

      </div>
<!--      <div class="xample">-->
<!--      </div>-->
      <div class="soon">
        <div class="soon-child">
          <h1>EN PROGRESO</h1>
        </div>
      </div>
      <div class="red-dot"></div>
    </div>
  </div>
</div>

<div class="linea-roja"></div>
<div class="linea-roja2"></div>
<div class="sliders">
  <label for="zoom">Zoom</label>
  <input type="range" id="zoom" min="0" max="100" value="50" (input)="onZoomChange($event)">

  <label for="rotateX">Rotar X</label>
  <input type="range" id="rotateX" min="0" max="100" value="50" (input)="onRotateXChange($event)">

  <label for="rotateY">Rotar Y</label>
  <input type="range" id="rotateY" min="0" max="100" value="50" (input)="onRotateYChange($event)">
  <label for="moveY">Mover Atras/Enfrente</label>
  <input type="range" id="moveY" min="0" max="100" value="50" (input)="onMoveYChange($event)">

  <label for="moveX">Mover Izquierda/Derecha</label>
  <input type="range" id="moveX" min="0" max="100" value="50" (input)="onMoveXChange($event)">
  <label for="moveY">Mover Arriba/Abajo</label>
  <input type="range" id="moveZ" min="0" max="100" value="50" (input)="onMoveZChange($event)">
</div>
